[user]
	name = Pablo Santiago Blum de Aguiar
	email = scorphus@gmail.com
	signingkey = AAE6400E
[color]
	ui = true
[color "branch"]
	current = yellow black
	local = yellow bold
	remote = magenta bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red bold reverse
[color "status"]
	added = green bold
	changed = red bold
	untracked = yellow bold
	branch = cyan bold reverse
[diff]
	tool = meld
[core]
	editor = vim
	excludesfile = ~/.gitignore-global
[alias]
	br = branch
	co = checkout
	cc = checkout
	st = status
	ss = stash
	df = diff
	ds = diff --staged
	ll = log --all --graph --decorate --abbrev-commit
	lo = log --all --graph --decorate --abbrev-commit --oneline
	lg = log --color --graph --decorate --abbrev-commit --pretty=format:'%C(bold red)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold blue)<%an>%Creset'
	lp = log -25 --graph --decorate --abbrev-commit --date=relative --pretty=format:'%C(bold yellow)%h%C(bold red)%x09%ae%C(bold green)%x09%ad%C(reset)%x09%s%C(auto)%d'
	lpp = log --graph --decorate --abbrev-commit --date=relative --pretty=format:'%C(bold yellow)%h%C(bold red)%x09%ae%C(bold green)%x09%ad%C(reset)%x09%s%C(auto)%d'
	lpa = log -25 --all --graph --decorate --abbrev-commit --date=relative --pretty=format:'%C(bold yellow)%h%C(bold red)%x09%ae%C(bold green)%x09%ad%C(reset)%x09%s%C(auto)%d'
	lpaa = log --all --graph --decorate --abbrev-commit --date=relative --pretty=format:'%C(bold yellow)%h%C(bold red)%x09%ae%C(bold green)%x09%ad%C(reset)%x09%s%C(auto)%d'
	lpad = log --all --graph --decorate --abbrev-commit --date=short --pretty=format:'%C(bold yellow)%h%C(bold red)%x09%ae%C(bold green)%x09%ad%C(reset)%x09%s%C(auto)%d'
	cvp = commit -vp
	cvpa = commit -vp --amend
	cam = commit --amend
	camn = commit --amend --no-edit
	pufum = pull --ff-only upstream master
	pufom = pull --ff-only origin master
	rup = remote update -p
