.SublimeREPLHistory
Color Highlighter
Package\ Control.cache
Package\ Control.last-run
Package\ Control.merged-ca-bundle
Package\ Control.system-ca-bundle
Package\ Control.user-ca-bundle
SublimeLinter
bh_unicode_properties.cache
